<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Reservations</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet"
          href="/css/bootstrap.min.css"/>
    <script src="/js/bootstrap.min.js"></script>
    <style>
        .huge-table{
            width: 100%;
            height: 100%;
        }
        .huge-table thead tr td {
            font-size: 3em;
            
        }

        .huge-table thead {
            background-color: var(--primary);
        }

        .huge-table tbody tr td {
            font-size: 7em;
            border-right: 1px dashed var(--secondary);
        }

        .huge-table tbody tr {
            border-top: 2px solid var(--secondary);
        }
    </style>
</head>
<body>
    
    <table class="huge-table">
        <thead>
            <tr>
                <td>Code</td>
                <td>Queue Number</td>
                <td>Wait Time</td>
            </tr>
        </thead>
        <tbody id="main-table">
            
        </tbody>
    </table>

    <script>
        const table = document.getElementById("main-table");

        var liveLoadFunc = function() {
            fetch('/reservations')
                .then(response => response.json())
                .then(function(data){
                    table.innerHTML = "";
                    data.sort(function(a, b) {
                        if (a["timeAdded"] > b["timeAdded"]) {
                            return 1;
                        } else {
                            return -1;
                        }
                    });


                    console.log(data);
                    data.forEach(element => {
                        var row = document.createElement("tr");

                        

                        console.log(element["waitTime"]);

                        //var waitTime = "argh";
                        var waitTime = new Date(element["waitTime"] * 100).toISOString().substr(11, 8);

                        var shortIdCell = document.createElement("td");
                        var queueCell = document.createElement("td");
                        var waitTimeCell = document.createElement("td");


                        shortIdCell.innerHTML = element["shortId"];
                        queueCell.innerHTML = element["queueNumber"];
                        waitTimeCell.innerHTML = waitTime;

                        row.appendChild(shortIdCell);
                        row.appendChild(queueCell);
                        row.appendChild(waitTimeCell);

                        table.appendChild(row);
                    });
                });
        };

        liveLoadFunc(); // run once on startup
        setInterval(liveLoadFunc, 5000); // and once every 5 seconds
    </script>
</body>
</html>