<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Welcome Security with Spring Boot!</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet"
          href="/css/bootstrap.min.css"/>
    <script src="/js/bootstrap.min.js"></script>
    <style>
        .huge-table{
            width: 100%;
            height: 100%;
        }
        .huge-table thead tr td {
            font-size: 3em;
        }

        .huge-table thead {
            background-color: var(--primary);
        }

        .huge-table tbody tr td {
            font-size: 7em;
        }

        .huge-table tbody tr {
            border-top: 2px solid var(--secondary);
        }
    </style>
</head>
<body>
    
    <table class="huge-table">
        <thead>
            <tr>
                <td>Code</td>
                <td>Is Currently visiting</td>
            </tr>
        </thead>
        <tbody id="main-table">
            
        </tbody>
    </table>

    <script>
        const table = document.getElementById("main-table");
        setInterval(function() {
            fetch('/reservations')
                .then(response => response.json())
                .then(function(data){
                    table.innerHTML = "";
                    data.sort(function(a, b) {
                        if (a["timeAdded"] > b["timeAdded"]) {
                            return 1;
                        } else {
                            return -1;
                        }
                    });

                    data.forEach(element => {
                        var row = document.createElement("tr");

                        var shortIdCell = document.createElement("td");
                        var isInProgressCell = document.createElement("td");

                        shortIdCell.innerHTML = element["shortId"];
                        isInProgressCell.innerHTML = element["isVisiting"];

                        row.appendChild(shortIdCell);
                        row.appendChild(isInProgressCell);

                        table.appendChild(row);
                    });
                });
        }, 5000);
    </script>
</body>
</html>