<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Welcome Security with Spring Boot!</title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet"
        href="/css/bootstrap.min.css"/>
  <script src="/js/bootstrap.min.js"></script>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Reservations</a>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li sec:authorize="isAnonymous()" class="nav-item">
          <a class="nav-link" href="/login">Log In</a>
        </li>
        <li sec:authorize="isAnonymous()"  class="nav-item">
          <a class="nav-link" href="/signup">Sign Up</a>
        </li>
        <li sec:authorize="isAuthenticated()" class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>

      </ul>
    </div>
  </nav>


  <div class="container">
    <div class="row">
      <div class="col-lg-6" style="padding-top: 15px;">
        <h1>Reservation waiting list</h1>
        <div class="row jumbotron" style="padding: 15px; align-items: center;">
          <div class="col-lg-8">
            <h3>Your reservation code: </h3>
            
          </div>
          <div class="col-sm-3">
            <h1 th:text="${reservation.shortId}"></h1>
          </div>
          
        </div>
        <p>Your queue number: <span id="queue-num"></span></p>
        <p>Approximate time until appointment: <span id="time-approx"></span></p>
        <button type="button" class="btn btn-primary">Cancel reservation</button>
      </div>
    </div>

  </div>
  <script>
    const infoText;

    setInterval(function() {
        fetch('/reservations')
            .then(response => response.json())
            .then(function(data){
              
            });
    }, 5000);
  </script>
</body>
</html>