<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Reservations</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet"
          href="/css/bootstrap.min.css"/>
    <script src="/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">Reservations</a>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li sec:authorize="isAnonymous()" class="nav-item">
                    <a class="nav-link" href="/login">Log In</a>
                </li>
                <li sec:authorize="isAnonymous()"  class="nav-item">
                    <a class="nav-link" href="/signup">Sign Up</a>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>

            </ul>
        </div>
    </nav>
   

    <div class="container">
        <div class="row">
            <div class="col-lg-6" style="padding-top: 15px;">
                <form action="#" th:action="@{/reservation/add}" th:object="${reservation}" method="post">
                    <fieldset>
                        <legend>Add Reservation</legend>
                        <div class="form-group">
                            <label for="nameInput">Your Name</label>
                            <input th:field="*{customer.name}" type="text" class="form-control" id="nameInput" placeholder="Enter name">
                        </div>
                        <div class="form-group">
                            <label for="exampleSelect1">Select Specialist</label>
                            <select th:field="*{specialist.id}" class="form-control" id="exampleSelect1">
                                <option th:each="spec:${specialists}" value="=" th:value="${spec.id}" th:text="${spec.fullName}"></option>
                            </select>
                        </div>
                    </fieldset>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>

    </div>


</body>
</html>