<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Welcome Security with Spring Boot!</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet"
              href="/css/bootstrap.min.css"/>
        <script src="/js/bootstrap.min.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="#">Reservations</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li sec:authorize="isAnonymous()" class="nav-item">
                        <a class="nav-link" href="/login">Log In</a>
                    </li>
                    <li sec:authorize="isAnonymous()"  class="nav-item">
                        <a class="nav-link" href="/signup">Sign Up</a>
                    </li>
                    <li sec:authorize="isAuthenticated()" class="nav-item">
                        <form>
                            <a class="nav-link" href="#">Logout</a>
                        </form>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/reservation/add">Add Reservation</a>
                    </li>
                </ul>
            </div>
        </nav>
    </body>
</html>